[defaults]
inventory = hosts
host_key_checking = false

#hostfile = hosts
#user = ansible
#interpreter_python = auto_legacy_silent
#ansible_managed = Ansible managed: modified on %Y-%m-%d %H:%M:%S by {uid}
#retry_files_enabled = false


[privilege escalation]
[paramiko_connection]
[ssh_connection]
[persistent_connection]
[accelerate]
[selinux]
[colors]
[diff]
